<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="height: 100px; width:100%; background-color:orangered; color:red">
        Header Section
    </header>
    <div style="color : blue">
        @RenderBody()
    </div>
    <footer style="height: 100px; width:100%; background-color:forestgreen; color:orangered">
        footer Section
    </footer>
</body>
</html>
